<html>
	<head>
		<title>Prime Numbers</title>
	</head>
	<body>
		<div class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
			<h1>Prime numbers calculator</h1>
			<div class="numbers">
				<form method="get" action="/numbers" id="frmMinMax">
					<label for="min">Enter min:</label>
					<input type="number" id="min" name="min" min="2" required style="margin-bottom: 15px;"/><br>
					<label for="max">Enter max:</label>
					<input type="number" id="max" name="max" min="2" required/><br>
					<button type="submit" onclick="submitForm()" style="margin-top: 20px;">Submit</button>
				</form>
			</div>
			<div class="results">
				<h4 th:if="${duplicate}"><span th:text="${min}"/> and <span th:text="${max}"/> are already in DB, prime numbers are:</h4>
				<h4 th:unless="${duplicate}">Prime numbers between <span th:text="${min}"/> and <span th:text="${max}"/> are:</h4>
				<ul th:each="index : ${array}">
				    <li th:text="${index}"></li>
				</ul>
			</div>
		</div>
		<script>
			var min = document.getElementById("min");
			var max = document.getElementById("max");
			
			function validateForm(frmMinMax){
				if (parseInt(min.value) <= 1){
					alert("Min must be 2 or higher!");
					return false;
				}
				
				if (min.value == "" || max.value == ""){
					alert("Min or Max should not be empty!");
					return false;
			  	}
				
				if (parseInt(min.value) >= parseInt(max.value)) {
				    alert("Min must be lower than Max!");
					return false;
			  	}
				
				return true;
			}
			
			function submitForm(){
				var frmMinMax = document.getElementById("frmMinMax");
				if(!validateForm(frmMinMax)){
					frmMinMax.reset();
				} else {
					frmMinMax.submit();
				}
			}
		</script>
	</body>
</html>